@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>@ViewData["Title"] - TrashTalk</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav me-auto">
	                    <li class="nav-item">
		                    <a class="nav-link" asp-area="" asp-controller="RealEstate" asp-action="Index">Real Estate</a>
	                    </li>
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
	                        @if (User.IsInRole("Admin"))
	                        {
		                        <li class="nav-item">
			                        <a class="nav-link" asp-controller="User" asp-action="Users">Users</a>
		                        </li>
	                        }

	                        <li class="nav-item">
		                        <a class="nav-link" asp-controller="RealEstate" asp-action="Create">
			                        <i class="bi bi-plus-circle me-1"></i>Add Property
		                        </a>
	                        </li>
	                        <li class="nav-item">
		                        <a class="nav-link" asp-controller="RealEstate" asp-action="MyRealEstates">My Properties</a>
	                        </li>
                        }
                    </ul>
                    <div class="d-flex align-items-center">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="text-center">
            &copy; 2025 - TrashTalk - <a asp-area="" asp-controller="Home" asp-action="Privacy">Gooners Team</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
</body>
</html>