@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.BannedTo != null)
{
    <div class="text-center">
        <h1 class="display-4">Access Denied</h1>
        <p>You are banned until @ViewBag.BannedTo.</p>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}
